@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-theme--light.Toastify__toast--error {
  background-color: #fff9ed;
  border-radius: 0%;
  border-left: solid #d10001 3px;
  border-right: solid #d10001 1px;
  border-top: solid #d10001 1px;
  border-bottom: solid #d10001 1px;
}

.Toastify__progress-bar--error {
  border-radius: 0%;
}